  .slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 10px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  }
  
  .slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .profile-card {
    flex: 0 0 calc(45% - 20px); /* Adjust the percentage value to control the number of cards per row */
    margin: 10px;
    background-color: #D5C2BD;
    padding: 20px;
    position: relative;
  }
  
  /* Adjust the flex percentage and margin as needed for different screen sizes */
  @media (max-width: 768px) {
    .profile-card {
      flex: 0 0 calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .profile-card {
      flex: 0 0 100%;
    }
  }  
  
  .profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-card h3 {
    margin-top: 0;
  }
  
  .profile-card p {
    margin-bottom: 0;
  }

/* Profile Card CSS */
.profile-card img {
  width: 100px; /* Fixed width for the profile image */
  height: 100px; /* Fixed height for the profile image */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

/* Popup Card CSS */
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dfd0cd;
    padding: 20px;
    z-index: 9999;
    width: 80%; /* Set a fixed width for the popup card */
    max-height: 80vh; /* Set a maximum height for the popup card */
    overflow-y: auto; /* Enable vertical scrolling when the content exceeds the height */
  }

  .popup-content {
    text-align: center;
  }

  .popup-title {
    margin-top: 0;
  }

  .popup-image {
    width: 50%; /* Make the image width fill the container */
    height: auto; /* Auto-adjust the height to maintain aspect ratio */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }

  .close-btn {
    margin-top: 20px;
  }

  .popup:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Adjust the width and max-width values for different screen sizes */
  @media (max-width: 768px) {
    .popup {
      width: 90%; /* Adjust the width for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .popup {
      width: 100%; /* Adjust the width for even smaller screens */
    }
  }
    
  #kenya {
    display: none;
  }